<ion-view view-title="Dish Details">
  <ion-nav-buttons side="secondary">
      <div class="buttons">
        <button class="button button-icon icon ion-android-more-horizontal"
          ng-click="popover.show($event)"></button>
      </div>
    </ion-nav-buttons>   
  <ion-content>
      <div class="card">
          <div class="item item-body item-text-wrap">
               <img class="full-image" ng-src="{{baseURL+dish.image}}" alt="Uthappizza">
                <h2>{{dish.name}}
                 <span class="badge badge-assertive">{{dish.label}}</span></h2>    
                 <span style="font-size:75%">{{dish.price | currency}}</span>
                <p align="justify">{{dish.description}}</p>
          </div>
      </div>
       <div class="row">
            <div class="col col-offset-10">
                   <h4>Customer Comments &nbsp;&nbsp;&nbsp;
                       <small>Sort by: &nbsp;
                             <input type="text" ng-model="orderText">
                          </small></h4>
                    <ul class="list">
                        <li ng-repeat="mycomment in dish.comments | orderBy:orderText">
                          <blockquote>
                             <p>{{mycomment.rating}} Stars</p>
                             <p align="justify">{{mycomment.comment}}</p>
                             <footer>{{mycomment.author}}, {{mycomment.date | date:'MMM. dd, yyyy'}}</footer>
                          </blockquote>
                        </li>
                    </ul>
            </div>
      </div>
  </ion-content>
</ion-view>